@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap";

// fonts
$primary-font: "Montserrat", sans-serif;

// colors 
$primary-color: #000;
$secondary-color: #ff0;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	button {
		transition: all 0.3s ease-in-out;
	}
	div {
		transition: all 0.3s ease-in-out;
	}
	font-family: $primary-font
}
header {
	background-color: $primary-color;
	color: white;
	display: flex;
    align-items: center;
	padding: 30px;
	position: sticky;
	top: 0;
	z-index: 1;
}
.header-title {
	display: flex;
	align-items: center;
	span {
		&:first-child {
			color: #ffff00;
			margin-right: 5px;
		}
		&:last-child {
			background: $secondary-color;
			color: $primary-color;
			border-radius: 25%;
			max-width: max-content;
			margin-left: 10px;
			font-size: 20px;
			padding: 3px 10px;
		}
	} 
}
.search-bar {
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin-left: 80px;
}
.search-bar-input {
    max-width: 400px;
	font-size: 18px;
	padding-left: 8px;
    height: 39px;
}
.search-bar-icon {
	background: $secondary-color;
	padding: 2px 5px;
	display: flex;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
}
.header-cart {
	display: flex;
	align-items: end;
	font-size: 20px;
	font-weight: 500;
	gap: 5px;
        .shopping-cart {
            height: 20px;
        }
		.clear-cart {
			color: $secondary-color;
			background: none;
			border: none;
			font-size: 10px;
			align-self: start;
			cursor: pointer;
		}
}
.cart-clear-btn {
	background: none;
	color: $secondary-color;
	border: none;
	font-size: 20px;
	align-self: start;
	cursor: pointer;
	display: none;
}
.cart-clear-btn.active {
	display: block;
}
.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px;
	gap: 15px;
}
.categories-title {
	font-size: 35px;
	letter-spacing: 1px;
}
.categories-items {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	padding: 0px 10px;
	justify-content: center;
	button {
		font-size: 20px;
		padding: 10px 25px;
		background: none;
		border: none;
		cursor: pointer;
		border-radius: 15px;
		&:hover {
			background: $primary-color;
			color: $secondary-color;
		}
	}
	button.active {
		background: $primary-color;
		color: $secondary-color;
	}
}
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	gap: 30px;
}
.product-item {
	position: relative;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	gap: 12px;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px;
	transition: all .3s ease-in-out;
	overflow: hidden;
	&:hover {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		.product-add-to-cart-btn {
			transform: translateY(-5px);
		}
	}
	img {
		width: 220px;
	}
}
.product-item-sale-info {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $primary-color;
	color: $secondary-color;
	padding: 5px 15px;
	border-radius: 5px;
	opacity: 0.8;
}
.product-item.on-sale {
	.product-item-sale-info {
		display: block;
	}
	.price {
		color: $primary-color;
		font-size: 13px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 110%;
			height: 2px;
			background: $primary-color;
			top: 30%;
			left: -5%;
			transform: rotate(-10deg);
		}
	}
	.price-sale {
		display: block;
	}
}
.product-name {
	font-size: 23px;
	font-weight: bold;
}
.product-description {
	color: rgb(94, 94, 94);
	font-size: 15px;
	line-height: 22px;
}
.product-price {
	color: green;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	.price-sale {
		display: none;
	}
}
.product-add-to-cart-btn {
	background: $primary-color;
	color: white;
	width: 60%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transform: translateY(100px);
	&:hover {
		color: $secondary-color;
	}
}
.empty-state {
	display: none;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}
.empty-state.active {
	display: block;
}
@media only screen and (min-width: 1300px) {
	.container {
		display: flex;
	}
	.categories-items {
		flex-direction: column;
		button {
			padding: 10px 50px;
			border-radius: 5px;
		}
	}
	.categories {
		margin: 0px;
		border-right: 2px solid rgb(190, 190, 190);
		min-width: 350px;
	}
	.categories-title {
		background: $secondary-color;
		width: 100%;
		text-align: center;
		padding: 6px;
	}
	.products {
		margin-left: 15px;
		gap: 50px;
	}
}
